<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>559815420931-4vimjqvgkh17asfqim0cuf3rf2jnk5pq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559815420931-4vimjqvgkh17asfqim0cuf3rf2jnk5pq</string>
	<key>API_KEY</key>
	<string>AIzaSyAQjbkXwDz_8G5VbmofjpA9q5fyznhsgDo</string>
	<key>GCM_SENDER_ID</key>
	<string>559815420931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.davidgj.testsui123</string>
	<key>PROJECT_ID</key>
	<string>social-network-584a1</string>
	<key>STORAGE_BUCKET</key>
	<string>social-network-584a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559815420931:ios:b1a61327fb69283bdbb236</string>
</dict>
</plist>